.DS_Store
DerivedData/
build/
xcuserdata/
.build/
.swiftpm/
.deriveddata-*/
artifacts/

*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.ipa
*.xcarchive
*.dSYM
*.xcresult
